version: '3.9'

services:
  app:
    build:
      context: .
      target: development
    command: npm run dev
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    restart: unless-stopped
